.white-text{
  color: white;
}

.messageBox{
  padding-bottom: 15px;
}

.blue-background{
  background-color: #3469CA;
}

.tutorial-background {
  background-color: #EDF7FF;
}

.line {
  background-color: black;
  margin-bottom: 15px;
  height: 1px;
}

.bottom {
  padding-bottom: 15px;
}

.landingTop {
  background-image: url("https://images.unsplash.com/photo-1479947119049-7342c14b8122?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1470&q=80%22");
  height: 600px;
  background-size: cover;
  background-position: center;
}

.landingBottom {
  background-color: white;
  height: 300px;
}

.heading {
  width: 100%;
  font-family: SansSerif, serif;
}

.landingButtons{
  margin: 30px;
}

p {
  font-family: SansSerif, serif;
  font-size: 17px;
}

.ui.big.label.ohagreen{
  background-color: #82AB33;
  color: white;
}
